footer {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;

  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  
  .col-md-4 {
    flex: 1;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer a {
    color: #000;
    text-decoration: none;
  }
  
  .footer .copyright {
    font-size: 12px;
    color: #999;
  }