<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Hakkında</h4>
          <p>Otelimiz hakkında daha fazla bilgi edinin.</p>
          <a href="#">Hakkında</a>
        </div>
        <div class="col-md-4">
          <h4>İletişim</h4>
          <p>Otelimizle iletişime geçin.</p>
          <a href="#">İletişim</a>
        </div>
        <div class="col-md-4">
          <h4>Sayfalar</h4>
          <ul>
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">Oda Seçenekleri</a></li>
            <li><a href="#">Rezervasyon</a></li>
            <li><a href="#">Rezervasyon Sorgulama</a></li>
            
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Rezervasyon</h4>
          <ul>
            <li><a href="#">Rezervasyon Sorgulama</a></li>
            <li><a href="#">Rezervasyon Bla Bla</a></li>
            <li><a href="#">Rezeversyon Bla Bla</a></li>
            
          </ul>
        </div>
      </div>
      <div class="copyright">
        Copyright &copy; 2023 Hotel Stay
      </div>
    </div>
  </footer>