<app-navbar></app-navbar>
<div>
    <div class="rezervation-main">            
        <div class="rezervation-form-main">
            <form #frm="ngForm" (ngSubmit)="sendCustomerInfo(frm.value)" > 
                <mat-form-field>
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Başlangıç Tarihi">
                    <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field>
                  
                  <mat-form-field>
                    <input matInput [matDatepicker]="endDatePicker" placeholder="Bitiş Tarihi">
                    <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>                  
                <mat-label>Kişi Sayısı</mat-label>
                <mat-select formControlName="customerCount">                    
                    <mat-option *ngFor="let option of guestOptions" [value]="option" >
                        {{option}}
                    </mat-option>
                </mat-select>
                <mat-form-field>
                    <input type="text" name="name" id="name" ngModel placeholder="Adınız">
                </mat-form-field>
                <mat-form-field>
                    <input type="text" name="form-surname" ngModel placeholder="Soyadınız">   
                </mat-form-field>
                <mat-form-field>
                    <input type="text" name="form-phone" ngModel placeholder="Telefon numarası" maxlength="11"> 
                </mat-form-field>
                <mat-form-field>
                    <input type="text" name="form-tc" ngModel placeholder="T.C. Kimlik No" maxlength="11">  
                </mat-form-field>
                <mat-form-field>
                    <input type="email" name="form-email" ngModel placeholder="Email Adresiniz"> 
                </mat-form-field>
                <mat-form-field>
                    <input type="email" name="form-email" ngModel placeholder="type of room"> 
                </mat-form-field>
                <button class="rezervation-btn">Send</button>
                
            </form> 
        </div>
    </div>

    <div class="rooms">

        <div class="room-group">
            <div class="room-card-container">
                <div *ngFor="let room of rooms" class="room-card" >
                <img [src]="room.mainPicturePath" [alt]="room.roomName" class="room-image">
                <h3 class="room-title">{{ room.roomName }}</h3>
                <p class="room-description">{{ room.description }}</p>
                <p class="room-price">{{room.price}}</p>            
                </div>
            </div>
    </div>

</div>


</div>
<app-footer></app-footer>




