<!-- reservation-query.component.html -->
<app-navbar> </app-navbar>
<div class="reservation-query">
    <input type="text" [(ngModel)]="reservationCode" placeholder="Rezervasyon Kodu">
    <button (click)="queryReservation()">Sorgula</button>
</div>

<!-- Kullanıcıya ait bilgilerin gösterileceği alan -->
<div class="resinfobox" *ngIf="reservationCode">
    <h3>Rezervasyon Bilgileri</h3>
    <p>Check In Date: {{ userInfo.checkInDate }}</p>
    <p>Check Out Date: {{ userInfo.checkOutDate }}</p>
    <p>Phone Number: {{ userInfo.phoneNumber }}</p> 
    <p>Lenght Of Stay: {{ userInfo.lenghtOfStay }}</p>  
    <p>Customer Count: {{ userInfo.customerCount }}</p> 
    <p>Reservation Code: {{ userInfo.reservationCode }}</p>
    <p>Status: {{ userInfo.status }}</p>
    <p>Total Price: {{ userInfo.totalPrice }}</p>

    <!-- Kullanıcının rezervasyon tarih aralığı ve kişi sayısı gibi bilgileri buraya ekleyebilirsiniz. -->
</div>

<app-footer></app-footer>