.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(225, 225, 235, 0.8);
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 10px;
  width: 64px;
  height: 64px;
}

.navbar-link {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-link:hover {
  color: #555;
}

/* Hamburger Menu */
.navbar-right {
  display: flex;
}

.navbar-menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right.active {
    display: flex;
  }

  .navbar-menu-toggle {
    display: block;
  }
}