<nav class="navbar">
  <div class="navbar-left">
      <a class="navbar-logo" routerLink="/">
          <img src="./assets/son.png" style="width: 64px; height: 64px;" alt="Hotel Stay Logo">
      </a>
      <a class="navbar-link" routerLink="/">Hotel Stay</a>
  </div>
  <div class="navbar-right">
      <a class="navbar-link" routerLink="/">Ana Sayfa</a>
      <a class="navbar-link" routerLink="/hakkimizda" routerLinkActive="active">Hakkımızda</a>
      <a class="navbar-link" routerLink="/iletisim" routerLinkActive="active">İletişim</a>
      <a class="navbar-link" routerLink="/odalar">Odalar</a>
      <a class="navbar-link" routerLink="/rezervasyon">Rezervasyon</a>
      <a class="navbar-link" routerLink="/rezervasyon-sorgulama">Rezervasyon Sorgulama</a>
  </div>
</nav>
