<!-- body.component.html -->
<app-navbar></app-navbar>
<div class="about-section">
  <div class="about-photos">
    <img src="assets/6.jpg" alt="Otel Fotoğrafı 1">
  </div>
  <div class="about-description">
    <h2>Hakkımızda</h2>
    <hr class="left-aligned-hr">
    <p>Otelimiz, misafirlerimize konforlu ve unutulmaz bir konaklama deneyimi sunmak amacıyla faaliyet göstermektedir. 60 yılı aşkın süredir misafirperverlik anlayışımızla hizmet veren 4 yıldızlı otelimiz, konuklarımızın tatillerini, iş seyahatlerini veya özel etkinliklerini unutulmaz kılmak için her detayı özenle düşünmektedir.</p>

      <p>Tarihimize bir yolculuk yaparken, otelimizin köklü geçmişini keşfedeceksiniz. 1960 yılında, misafirlerimizi ağırlamak ve onlara evlerini aratmayacak bir ortam sunmak amacıyla kapılarımızı açtık. O zamandan beri, misafir memnuniyeti odaklı hizmet anlayışımızı sürdürmek için sürekli olarak kendimizi geliştirmekteyiz.</p>
      
      <p>Otelimiz, misafirlerimize lüks ve rahat bir konaklama deneyimi sunmak için modern tasarıma sahip şık ve konforlu odalara sahiptir. Her detayın düşünüldüğü odalarımızda, sizlere huzur dolu bir atmosfer sunmak için ihtiyaçlarınızı karşılamak üzere özenle seçilmiş olanaklar bulunmaktadır. Ayrıca, geniş ve ferah toplantı salonlarımız, iş toplantıları, seminerler veya özel etkinlikler için mükemmel bir mekan sunmaktadır.</p>
      
      <p>Mükemmel hizmet kalitemizi, deneyimli ve profesyonel kadromuzla desteklemekteyiz. Personelimiz, misafirlerimize sıcak ve samimi bir karşılama sunmanın yanı sıra, her ihtiyacınızı karşılamak ve konaklamanızı en iyi şekilde geçirmeniz için her zaman yanınızda olmaktan mutluluk duyar.</p>
      
      <button class="contact-button">Bizimle İletişime Geçin</button>
    </div>
</div>
<div class="about-section-2">
  
  <div class="about-description-2">
    <h2>Neden bizi tercih etmelisiniz?</h2>
    <hr class="left-aligned-hr">
    <p>Otelimiz, misafirlerimize konforlu ve unutulmaz bir konaklama deneyimi sunmak amacıyla faaliyet göstermektedir. 60 yılı aşkın süredir misafirperverlik anlayışımızla hizmet veren 4 yıldızlı otelimiz, konuklarımızın tatillerini, iş seyahatlerini veya özel etkinliklerini unutulmaz kılmak için her detayı özenle düşünmektedir.</p>

      <p>Tarihimize bir yolculuk yaparken, otelimizin köklü geçmişini keşfedeceksiniz. 1960 yılında, misafirlerimizi ağırlamak ve onlara evlerini aratmayacak bir ortam sunmak amacıyla kapılarımızı açtık. O zamandan beri, misafir memnuniyeti odaklı hizmet anlayışımızı sürdürmek için sürekli olarak kendimizi geliştirmekteyiz.</p>
      
      <p>Otelimiz, misafirlerimize lüks ve rahat bir konaklama deneyimi sunmak için modern tasarıma sahip şık ve konforlu odalara sahiptir. Her detayın düşünüldüğü odalarımızda, sizlere huzur dolu bir atmosfer sunmak için ihtiyaçlarınızı karşılamak üzere özenle seçilmiş olanaklar bulunmaktadır. Ayrıca, geniş ve ferah toplantı salonlarımız, iş toplantıları, seminerler veya özel etkinlikler için mükemmel bir mekan sunmaktadır.</p>
      
      <p>Mükemmel hizmet kalitemizi, deneyimli ve profesyonel kadromuzla desteklemekteyiz. Personelimiz, misafirlerimize sıcak ve samimi bir karşılama sunmanın yanı sıra, her ihtiyacınızı karşılamak ve konaklamanızı en iyi şekilde geçirmeniz için her zaman yanınızda olmaktan mutluluk duyar.</p>
    </div>
    <div class="about-photos-2">
      <img src="assets/5.jpg" alt="Otel Fotoğrafı 1">
    </div>
</div>

<app-footer></app-footer>
