.filter-btn{
    padding:20px;
    color:#000;
    background: #dedede;
    border:solid 1px #afafaf;
    border-radius: 5px;
    margin-left:3px;
    cursor: pointer;
}

.filter-btn:hover{
    color:#dedede;
    background-color: #000;
    border: solid 1px #dedede;
    transition: all .3s ease-in-out;
}